bin
target
.settings
.classpath
.project
*.jar
dbunit.properties

# Ignoring IntelliJ IDEA project files and directories.  These are personal.
.idea
*.iml
*.ipr
*.iws

# Personal env file for SDKMAN!
.sdkmanrc


# Generated outputs from the build.
antExport.dtd
antExportCsv/