bin
target
build-logs
.settings
.classpath
.project
*.jar
dbunit.properties

# Ignoring IntelliJ IDEA project files and directories.  These are personal.
.idea
*.iml
*.ipr
*.iws

# AI related dirs
.jackknife

# maven-release-plugin working files (see src/site/asciidoc/releasing.adoc)
release.properties
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
